<link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Jura|Niconne|Russo+One|Viga" rel="stylesheet">

<p>{{quote.description}}</p>
<p>This Quote was submitted {{quote.completeDate|relativeTime}} days ago</p>

<!--voting-->

<button class=" btn btn-info" (click)='voteUp()' type="submit">
    <span class="glyphicon glyphicon-thumbs-u" aria-hidden="true"></span>
  
    <span class="badge">{{upvote}} Likes</span>
  </button>
  
  <button (click)='voteDown()' class="btn btn-info" type="submit">
  
    <span class="badge">{{downvote}} Dislikes</span>
  </button>

  <!--end of voting-->
  <br>
  <div class="delete btn">
    <button (click)= 'quoteDelete(true)' class="btn btn-outline-danger" >Delete Quote</button> 
 </div>

