.quotesheader {
    color: blue;
}
.pg {
    color: green;
}
/* Victoria Buttons */
a.animated-button.thar-one {
    color:rgba(0, 0, 0, 0.701);
    width: 30%;
    padding: 5px 75px;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid turquoise;
}
a.animated-button.thar-one:hover {
	color: rgba(255, 255, 255, 0.681) !important;
	background-color: transparent;
	text-shadow: none;
}
a.animated-button.thar-one:hover:before {
	bottom: 0%;
	top: auto;
	height: 100%;
}
a.animated-button.thar-one:before {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: white!important;
	background: greenyellow;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
