<div class="container" id="edit">
<h1 class="quotesheader"><strong>Inspirational quotes</strong></h1>
<hr>


    <div class="row">
        <div class="col-md-6">
            <div *ngFor='let quote of quotes;let i = index'>
                <div>
                    <h4 appHighlight>{{quote.name}} Said on {{quote.completeDate|date}} </h4>
                    <div style="width: 130px;">  <a href="#" class="btn btn-sm animated-button thar-one" (click)='toggleDetails(i)'>Details</a> </div>
                </div>

                <div *ngIf='quote.showDescription'>
                    <app-quote-detail  [quote]='quote' (isComplete) = 'deleteQuote($event, i)'></app-quote-detail>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <app-quote-form (addQuote)="addNewQuote($event)" ></app-quote-form>
    </div>

    <p class="pg" *ngIf='quotes.length > 5'> <em> Good work fam, keep contributing your quotes, someone needs you out there</em></p>
</div>



